<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GreatCampingApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>136EEA312388C0D4006173A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136EEA4A2388C0D8006173A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136EEA552388C0D8006173A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
